*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
/* header */
.topo{
    width: 100%;
    height: 50px;
    background-color: #1f1d5b;
    color: #fff;
    padding: 5px;
}
.logo__topo{
    margin: 0 auto;
    width: 80%;
    height: 250px;
    text-indent: -9999px;
    background-image: url(../images/img-logo.png);
    background-repeat: no-repeat;
}
/* menu superior */
.menu{
    list-style: none;
    text-transform: uppercase;
}

.menu-principal, .menu-footer{
    text-align: center;
}

.menu-principal__item, .menu-footer__item{
    padding: 8px;
}

.menu-principal a{
    text-decoration: none;
    color: #000;
}

/* banner */

.banner{
    width: 100%;
    height: 268px;
    background-size: cover;
    background-attachment: fixed;
}

.banner__home{
    background-image: url(../images/img-banner.jpg);
    background-repeat: no-repeat;
}

/* homepage */

.citacao{
    background-color: #bebebe;
    padding: 20px;
    margin-top: 20px;
}

.citacao__texto{
    font-size: 16px;
    font-style: italic;
    text-align: center;
    line-height: 30px;
}

.trabalhos{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.trabalhos__item{
    list-style: none;
    margin-top: 30px;
}

/*rodape*/

.menu-footer__bloco{
    padding-top: 15px;
}

.menu-footer a{
    color: #fff;
    text-decoration: none;
}

.rodape{
    margin-top: 20px;
    color: #fff;
}

.rodape__1{
    background-color: #f15c22;
    padding-bottom: 20px;
}

.rodape__2{
    margin-top: 10px;
    background-color: #fff;
    text-align: center;
    color: #000;
    font-size: 14px;
}

.rodape__contato{
    margin-top: 30px;
}

.rodape__titulo{
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 10px;
}

.linha{
    width: 80%;
    border-bottom: 2px solid #fff;
    margin-bottom: 10px;
}

.rodape__texto{
    margin-left: 15px;
    list-style: none;
}

.rodape__texto li{
    padding-bottom: 10px;
}

.rodape__icone{
    display: inline;
}